# nlb_tools
git+https://github.com/neurallatents/nlb_tools

# PyTorch (for modeling)
torch

# DANDI CLI tool (optional, can use website instead)
dandi

# EvalAI-CLI (optional, can use website instead)
evalai

# HuggingFace Transformers
transformers

# Numpy (for data)
numpy

# Matplotlib (for plotting loss)
matplotlib