# nlb_tools
pip install git+https://github.com/neurallatents/nlb_tools.git 

# PyTorch (for modeling)
pip install torch

# DANDI CLI tool (optional, can use website instead)
pip install dandi

# EvalAI-CLI (optional, can use website instead)
pip install evalai

# HuggingFace Transformers
pip install transformers

# Numpy (for data)
pip install numpy

# Matplotlib (for plotting loss)
pip install matplotlib